DATABASE_URL="file:./dev.db"
GEMINI_API_KEY=""
ADMIN_PASSWORD="turingscout-admin"
PORT=3000
NODE_ENV=development
PLATFORM_WALLET_SOLANA=""
PLATFORM_WALLET_EVM=""
PLATFORM_WALLET_HTX=""
SOLANA_RPC="https://api.mainnet-beta.solana.com"
EVM_RPC="https://mainnet.base.org"
HTX_RPC="https://http-mainnet.hecochain.com"
